{% extends 'base.html' %} 
{% block content %} 
<head>
    <title>業務員資料</title>
</head>
<script>
    window.onload = function() {
        var queryString = window.location.search;
        var urlParams = new URLSearchParams(queryString);
        var salesperson = urlParams.get('salesperson');
      
        // 更新頁面標題為讀取到的 SName 數據
        document.getElementById("salespersonTitle").textContent = "業務員概況分析：" + salesperson;
      
        // 使用 AJAX 請求從服務器獲取銷售人員的數據
        var xhr = new XMLHttpRequest();
        xhr.open('GET', '/get-salesperson-data?salesperson=' + salesperson, true);
        xhr.onload = function() {
            if (xhr.status === 200) {
                var salespersonData = JSON.parse(xhr.responseText);
                // 客戶回報率數值轉換
                var srValue = parseInt(salespersonData.SR);
                // 客戶回報率
                document.getElementById("salespersonSR").textContent = srValue + "%";
      
                // 業績達成率計算
                var achievementRate = salespersonData.achievement_rate;
                document.getElementById("achievementRate").textContent = achievementRate + "%";
      
                // 最多賣出的類型
                var maxName = salespersonData.max_name;
                document.getElementById("maxName").textContent = maxName;
      
                // 出缺勤比率圖表
                var ctx = document.getElementById("doughutCharta");
                if (ctx) {
                    ctx.height = 150;
        
                    var sarrValue = salespersonData.SARR;
                    var sleValue = salespersonData.SLE;
        
                    var myChart = new Chart(ctx, {
                        type: 'doughnut',
                        data: {
                            datasets: [{
                                data: [sarrValue, sleValue],
                                backgroundColor: [
                                    "rgba(234, 117, 0, 0.8)",
                                    "rgba(255, 211, 6, 0.8)",
                                ],
                                hoverBackgroundColor: [
                                    "rgba(234, 117, 0, 0.7)",
                                    "rgba(255, 211, 6, 0.7)",
                                ]
                            }],
                            labels: [
                                "上班",
                                "請假"
                            ]
                        },
                        options: {
                            legend: {
                                position: 'top',
                                labels: {
                                    fontFamily: 'Poppins'
                                }
                            },
                            responsive: true
                        }
                    });
                }
                // 銷售品項比率圖表
                var ctx2 = document.getElementById("pieCharta");
                if (ctx2) {
                    ctx2.height = 200;

                    var sm1Value = salespersonData.SM1;
                    var sm2Value = salespersonData.SM2;
                    var sm3Value = salespersonData.SM3;

                    var myChart2 = new Chart(ctx2, {
                        type: 'pie',
                        data: {
                            datasets: [{
                                data: [sm1Value, sm2Value, sm3Value],
                                backgroundColor: [
                                    "rgba(0, 102, 204, 0.9)",
                                    "rgba(0, 102, 204, 0.7)",
                                    "rgba(0, 102, 204, 0.5)"
                                ],
                                hoverBackgroundColor: [
                                    "rgba(0, 102, 204, 0.7)",
                                    "rgba(0, 102, 204, 0.5)",
                                    "rgba(0, 102, 204, 0.3)",
                                    ]
                                }],
                                labels: [
                                    "經濟實惠型",
                                    "實用按摩型",
                                    "高級豪華型"
                                ]
                            },
                        options: {
                            legend: {
                                position: 'top',
                                labels: {
                                    fontFamily: 'Poppins'
                                }
                            },
                            responsive: true
                        }
                    });
                }
            }
        };
        xhr.send();
    };
         
    function redirectToSales() {
        var selectElement = document.getElementById("who");
        var selectedOption = selectElement.options[selectElement.selectedIndex];
        var selectedSalesperson = selectedOption.text;
        window.location.href = "/salesindex/sales.html?salesperson=" + selectedSalesperson;
    }
</script>
<!-- 概況-->
<section class="statistic statistic2">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="title-5 m-b-35" id="salespersonTitle">{{ salesperson.SName }}</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-lg-4">
                <div class="statistic__item statistic__item--blue">
                    <h2 class="number" id="salespersonSR">{{ salesperson.SR }}%</h2>
                    <span class="desc">客戶回報率</span>
                    <div class="icon">
                        <i class="zmdi zmdi-account-o"></i>
                    </div>
                </div>                            
            </div>
            <div class="col-md-12 col-lg-4">
                <div class="statistic__item statistic__item--orange">
                    <h2 class="number" id="maxName"></h2>
                    <span class="desc">最多賣出</span>
                    <div class="icon">
                        <i class="zmdi zmdi-shopping-cart"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-4">
                <div class="statistic__item statistic__item--green">
                    <h2 class="number" id="achievementRate">{{ achievement_rate }}%</h2>
                    <span class="desc">業績達成率</span>
                    <div class="icon">
                        <i class="zmdi zmdi-money"></i>
                    </div>
                </div>    
            </div>
        </div>
    </div>
</section>
<!-- END 客戶分析簡單版資料-->

<!-- STATISTIC CHART-->
<section class="statistic-chart">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="title-5 m-b-35">圖表分析</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="au-card m-b-30" style="height: 400px;">
                    <div class="au-card-inner">
                        <h3 class="title-2 m-b-40">出缺勤比率</h3>
                        <canvas id="doughutCharta" style="height: 150px;"></canvas>
                    </div>
                    
                </div>
            </div>
            <div class="col-lg-6">
                <div class="au-card m-b-30" style="height: 400px;">
                    <div class="au-card-inner">
                        <h3 class="title-2 m-b-40">銷售品項比率</h3>
                        <canvas id="pieCharta" style="height: 275px;"></canvas>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</section>
<!-- END STATISTIC CHART-->
{% endblock %} 